body{
    font-family: sans-serif,Arial;
    background-color:#f5f5f5 ;
}
main{
    overflow: hidden;
}
/* ------normal-header----- */
main{
    width: 100%;
}
.pets-photo{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 10px;
}
#large{
    height: 300px;
    transition: .5s;
    opacity: 0;
}
#large.show{
    opacity: 1;
}
.pets-photo img{
    width: 100%;
    object-fit: cover;
    object-position: center center;
}
.img-small{
    display: flex;
    justify-content: center;
    gap: 16px;
}
.img-small img{
    width: 31%;
    box-sizing: border-box;
}
.img-small img:hover{
    cursor: pointer;
}
.content{
    width: 100%;
    padding-top: 50px;
    margin:auto;
}
.content .breadcrumb{
    font-weight: bold;
    margin: auto;
    width: fit-content;
    margin-bottom: 30px;
}
.content .breadcrumb ul li{
    display: inline-block;
}
.breadcrumb ul li a{
    text-decoration: none;
    color: #6d6767;
}
.breadcrumb ul li a:hover{
    color: #DDBC8B;
}
.breadcrumb ul li+li::before{
    content: "/";
    color: #919191;
    margin: 0 10px;
}
.adoption-information{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: start;
    font-weight: bold;
    gap: 50px;
}
hgroup h1{
    font-weight: bold;
    font-size: 22px;
}
hgroup{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin: 30px 0;
}
hgroup span{
    font-size: 14px;
    color: #6d6767;
    line-height: 20px;
    margin-left: 10px;
}
hgroup .icon i{
    margin-left: 30px;
    font-size: 20px;
    color: #DDBC8B;
    position: relative;
}
hgroup .icon i:hover{
    cursor: pointer;
}
hgroup .icon i:hover::after{
    content: '收藏';
    font-family: sans-serif;
    font-weight: bold;
    font-size: 10px;
    position: absolute;
    top:-40px;
    left: -1px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    background-color: #DDBC8B;
    z-index: 1;
}
hgroup .icon i:nth-child(2):hover::after{
    content: '分享';
}
.text-description{
    align-self: center;
}
.adoption-tag{
    margin-bottom:20px;
}
.text-description .adoption-tag .date{
    display: inline-block;
    margin-left: 20px;
}
.text-description .adoption-tag span{
    background-color: #dd8b8b;
    padding: 5px;
    font-size: 14px;
    width: fit-content;
    border-radius: 10px;
    color: #fff;
}
.list-menu{
    line-height: 26px;
    margin: auto 0;
}
.list-menu .illustrate li i{
    font-size: 5px;
    margin-right: 10px;
    color: #dd8b8b;
}
.list-menu .condition{
    margin-top: 16px;
}
.list-menu .condition i{
    margin-right: 12px;
    color: #DDBC8B;
}
.list-menu .condition li a{
    text-decoration: none;
    color: #878787;
    position: relative;
}
.list-menu .condition li a:hover::after{
    content: '下載參考';
    font-family: sans-serif;
    font-size: 10px;
    position: absolute;
    top:-10px;
    right:-65px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    background-color: #DDBC8B;
    z-index: 1;
}
.contact-person{
    width: 295px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 30px;
}
.contact-person img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    top: 11px;
    left: 2px;
}
.contact-person a{
    text-decoration: none;
    color: #818181;
    display: inline-block;
    margin-left: 5px;
}
.contact-person a:hover{
    color: #DDBC8B;
}
.contact-person .button-list{
    display: flex;
    gap: 8px;
}
.contact-person .button-list .button{
    padding: 8px;
    background-color: #DDBC8B;
    border-radius: 10px;
    font-size: 14px;
    color: #fff;
    transition: .5s;
    
}
.contact-person .button-list .button:hover{
    cursor: pointer;
    rotate: -5deg;
}
.contact-person .button-list .button i{
    margin-right: 5px;
}
.back-story{
    max-width: 85%;
    margin:50px auto;
    line-height: 24px;
    font-weight: bold;
}
.other-adoption{
    width: 100%;
    margin:120px auto 50px;
}
.other-adoption h2{
    font-weight: bold;
    font-size: 20px;
}
.other-adoption hgroup img{
    position: absolute;
    width: 150px;
    top: -70px;
    left: 0;
    z-index: 2;
}
.other-adoption-list{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    position: relative;
    z-index: 3;
    overflow: hidden;
}
.other-adoption-list .item img{
    width: 250px;
    height: 250px;
}
.other-adoption hgroup{
    position: relative;
    z-index: 3;
    left: 0;
    margin: 60px auto;
}
.other-adoption h2{
    position: relative;
    z-index: 4;
}
.circle{
    width: 200px;
    height: 100px;
    rotate: -35deg;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    top: -40px;
    left: 20px;
    z-index: 0;
}
.other-adoption .item:hover{
    cursor: pointer;
}
.back{
    width: fit-content;
    margin: auto;
    padding: 30px 0 80px;

}
.back a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.back a:hover{
    color: #DDBC8B;
}
@media screen and (min-width:768px){
    .content .breadcrumb{
        font-weight: bold;
        margin:0 0 50px 40px ;
        width: fit-content;
    }
    .pets-photo{
        width: 500px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        gap: 10px;
    }
    hgroup h1{
        font-weight: bold;
        font-size: 30px;
    }
    hgroup{
        display: flex;
        align-items: center;
        justify-content: start;
        font-weight: bold;
        margin:30px 3%;
    }
    .other-adoption hgroup{
        position: relative;
        z-index: 3;
        margin-left: 30px;
    }
    .other-adoption h2{
        position: relative;
        z-index: 4;
        left: 150px;
    }
}
@media screen and (min-width:1024px){
    .back-story{
        max-width: 50%;
        margin:100px 80px 0 auto;
    }
    .content .breadcrumb{
        font-weight: bold;
        margin:50px 0 50px 40px ;
        width: fit-content;
    }
    .adoption-information{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        align-items: start;
        font-weight: bold;
        gap: 80px;
    }
}
.top-button{
    width: 50px;
    height: 50px;
    position: fixed;
    background-color: #ffc28d6d;
    border-radius: 50%;
    bottom: 10px;
    right: 20px;
    z-index: 2;
    transition: .5s;
}
.top-button a{
    text-decoration: none;
    color: #ffffff9a;
}
.top-button i{
    font-weight: bold;
    position: absolute;
    font-size: 24px;
    top: 14px;
    left: 16px;
}
.top-button:hover{
    background-color: #FFC38D;
    cursor: pointer;
}
.top-button:hover a{
    color: #fff;
}