body{
    font-family: sans-serif,Arial;
    scroll-behavior: smooth;
    background-color:#f5f5f5 ;
}
main{
    overflow: hidden;
}
header{
    width: 100%;
    background-color: #DDBC8B;
    z-index: 10;
    position: sticky;
    top: -100px;
}
.logo-area{
    background-color: #DDBC8B;
    padding: 10px 0;
}
.logo-area .logo{
    width:120px;
    height: 75px;
    overflow: hidden;
    display: block;
    margin: auto;
}
.logo-area .logo img{
    width: 100px;
    object-fit: cover;
    object-position: center -10px;
}
#menu-switch{
    display: none;
}
.main-nav{
    transform:translateX(-100%);
    transition: 1s;
}
.header-navlist{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 15px 30px 0 ;
    gap: 40px;
    width: 100%;
    height: 100vh;
    background-color: #fffdec;
    position: absolute;
    top:100%;
    right: 0;
    z-index: 10;
}
.header-navlist i{
    color: #424255;
    font-size: 20px;
    transition: 0.3s;
}
.header-navlist a{
    color: #1d1d54;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
    font-family: sans-serif;
    display: inline-block;
}
.nav-item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    gap: 15px;
    padding: 20px 0;
}
.nav-item .deco-line{
    width: 0%;
    height: 2px;
    background-color: #383866c7;
    position: absolute;
    bottom: -7px;
    left: 10px;
    transition: all .4s linear;
}
.nav-item:hover .deco-line{
    width: 85%;
}
.hb{
    position: absolute;
    top: 30px;
    right: 10px;
    width: 40px;
    height: 40px;
}
#menu-switch:checked + .main-header .main-nav{
    transform:translateX(0);
}
.hb span{
    background-color: aliceblue;
    display: block;
    width: 30px;
    height: 3px;
    position: absolute;
    margin-left: 5px;
    rotate: 0deg;
}
.hb span:nth-child(1){
    top: 8px;
    transition: top .5s, rotate .5s;
}
.hb span:nth-child(2){
    top: 18px;
}
.hb span:nth-child(3){
    top: 28px;
    transition: top .5s, rotate .5s;
}
#menu-switch:checked +.main-header .hb span:nth-child(1){
    top: 18px;
    rotate: 45deg;
    transition: top .5s, rotate .5s;
}
#menu-switch:checked +.main-header .hb span:nth-child(2){
    display: none;
}
#menu-switch:checked +.main-header .hb span:nth-child(3){
    top: 18px;
    rotate: -45deg;
    transition: top .5s, rotate .5s;
}
/* ============login選單============== */
#login{
    display: none;
}
#login:checked + .main-nav .nav-item ul{
    display: block;
}
#login:checked + .main-nav .nav-item:nth-child(1) .deco-line{
    display: none;
} 
.nav-item label{
    color: #0e0e3b;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
    font-family: sans-serif;
    display: inline-block;
}
.nav-item label:hover{
    cursor: pointer;
}
.nav-item:hover .deco-line{
    width: 100%;
}
.nav-item label i{
    position: absolute;
    top: 20px;
}
.nav-item ul{
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    text-align: center;
    background-color:#f7f3dd;
    z-index: 10;
    box-shadow: 0 5px 5px 1px #3e3c3c63;
    display: none;
    transition: .5s;
}
.nav-item ul li{
    padding: 20px 0;
}
.nav-item ul li:hover{
    background-color:#f6f4eb;
    cursor: pointer;
}
/* 平板 */
/* 桌機 */
 @media screen and (min-width:1024px){ 
    /* =====login選單===== */
    .nav-item ul li:hover a{
        color:#000;
    }
    .nav-item label{
        color: #fff;
        font-size: 15px;
        font-weight: bold;
        transition: 0.3s;
        font-family: sans-serif;
        display: inline-block;
    }
    .nav-item label i{
        position: absolute;
        top: 3px;
        font-size: 14px;
    }
    .nav-item ul{
        position: absolute;
        top: 40px;
        left: 40px;
        width: 80%;
        text-align: center;
        background-color:#DDBC8B;
        z-index: 10;
        box-shadow: 0 5px 5px 1px #3e3c3c63;
        display: none;
    }
    .nav-item ul li{
        padding: 20px 0;
    }
    .nav-item:not(:first-child):hover i{
        color: #ffffffa0;
    }
    .nav-item:not(:first-child):hover a{
        color: #ffffffa0;
    } 
    .nav-item:nth-child(1):hover i:not([ul]){
        color: #ffffffa0;
    }
    .nav-item span:hover{
        color: #ffffffa0;
    }
    .nav-item ul a:hover{
        color: #ffffffa0;
    }
    /* =====login選單===== */
    .hb{
        display: none;
    }
    header .main-nav{
        display: flex;
        justify-content: center;
        align-items: center;
        transform:translateX(0);
        transition: none;
    }
    .logo-area{
        background-color: #DDBC8B;
        padding: 15px 0;
    }
    .logo-area .logo{
        width:120px;
        height: 75px;
        overflow: hidden;
        display: block;
        margin: auto;
    }
    .logo-area .logo img{
        width: 120px;
        object-fit: cover;
        object-position: center -8px;
    }
    .header-navlist{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0;
        height: 1vh;
        background-color: #DDBC8B;
    }
    .header-navlist .nav-item{
       display: flex;
       align-items: center;
       justify-content: center;
       padding: 0 40px;
    }
    .nav-item + .nav-item{
        border-left: 1px solid #fff ;
    }
    .header-navlist a{
        color: #fff;
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
        transition: 0.3s;
        font-family: sans-serif;
    }
    
    .header-navlist i{
        color: #fff;
        font-size: 22px;
        transition: 0.3s;
        margin-right: 8px;
    }
    .nav-item:hover i{
        color: #ffffffa0;
    }
    .nav-item:hover a{
        color: #ffffffa0;
    }
    .nav-item .deco-line{
        width: 0%;
        height: 2px;
        background-color: #ffffffa0;
        position: absolute;
        bottom: -8px;
        left: 25%;
        transition: all .4s linear;
    }
    .nav-item:hover .deco-line{
        width: 50%;
    }
    header .header-navlist{
        padding: 20px 0;
        font-size: 0;
        display: flex;
        justify-content: center;
    }
} 
/* ------normal-header----- */
main{
    width: 100%;
}
.pets-photo{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 10px;
}
#large{
    height: 300px;
    transition: .5s;
    opacity: 0;
}
#large.show{
    opacity: 1;
}
.pets-photo img{
    width: 100%;
    object-fit: cover;
    object-position: center center;
}
.img-small{
    display: flex;
    justify-content: center;
    gap: 16px;
}
.img-small img{
    width: 30%;
    box-sizing: border-box;
}
.img-small img:hover{
    cursor: pointer;
}
.content{
    width: 100%;
    padding-top: 50px;
    margin:30px auto 0;
}
.content .breadcrumb{
    font-weight: bold;
    margin: auto;
    width: fit-content;
    margin-bottom: 30px;
}
.content .breadcrumb ul li{
    display: inline-block;
}
.breadcrumb ul li a{
    text-decoration: none;
    color: #6d6767;
}
.breadcrumb ul li a:hover{
    color: #DDBC8B;
}
.breadcrumb ul li+li::before{
    content: "/";
    color: #919191;
    margin: 0 10px;
}
.adoption-information{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: start;
    font-weight: bold;
    gap: 50px;
}
hgroup h1{
    font-weight: bold;
    font-size: 22px;
}
hgroup{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin: 30px 0;
}
hgroup span{
    font-size: 14px;
    color: #6d6767;
    line-height: 20px;
}
hgroup .icon i{
    margin-left: 20px;
    font-size: 20px;
    color: #DDBC8B;
    position: relative;
}
hgroup .icon i:hover{
    cursor: pointer;
}
hgroup .icon i:hover::after{
    content: '收藏';
    font-family: sans-serif;
    font-weight: bold;
    font-size: 10px;
    position: absolute;
    top:-40px;
    left: -1px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    background-color: #DDBC8B;
    z-index: 1;
}
hgroup .icon i:nth-child(2):hover::after{
    content: '分享';
}
.text-description{
    align-self: center;
}
.adoption-tag{
    margin-bottom:20px;
}
.text-description .adoption-tag .date{
    display: inline-block;
    margin-left: 20px;
}
.text-description .adoption-tag span{
    background-color: #dd8b8b;
    padding: 5px;
    font-size: 14px;
    width: fit-content;
    border-radius: 10px;
    color: #fff;
}
.list-menu{
    line-height: 26px;
    margin: auto 0;
}
.list-menu .illustrate li i{
    font-size: 5px;
    margin-right: 10px;
    color: #dd8b8b;
}
.list-menu .condition{
    margin-top: 16px;
}
.list-menu .condition i{
    margin-right: 12px;
    color: #DDBC8B;
}
.list-menu .condition li a{
    text-decoration: none;
    color: #878787;
    position: relative;
}
.list-menu .condition li a:hover::after{
    content: '下載參考';
    font-family: sans-serif;
    font-size: 10px;
    position: absolute;
    top:-10px;
    right:-65px;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    background-color: #DDBC8B;
    z-index: 1;
}
.contact-person{
    width: 295px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 30px;
}
.contact-person img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    top: 11px;
    left: 2px;
}
.contact-person a{
    text-decoration: none;
    color: #818181;
    display: inline-block;
    margin-left: 5px;
}
.contact-person a:hover{
    color: #DDBC8B;
}
.contact-person .button-list{
    display: flex;
    gap: 8px;
}
.contact-person .button-list .button{
    padding: 8px;
    background-color: #DDBC8B;
    border-radius: 10px;
    font-size: 14px;
    color: #fff;
    transition: .5s;
    
}
.contact-person .button-list .button:hover{
    cursor: pointer;
    rotate: -5deg;
}
.contact-person .button-list .button i{
    margin-right: 5px;
}
.back-story{
    max-width: 85%;
    margin:50px auto;
    line-height: 24px;
    font-weight: bold;
}
.other-adoption{
    width: 100%;
    margin:120px auto 50px;
}
.other-adoption h2{
    font-weight: bold;
    font-size: 20px;
}
.other-adoption hgroup img{
    position: absolute;
    width: 150px;
    top: -70px;
    left: -120px;
    z-index: 2;
}
.other-adoption-list{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    position: relative;
    z-index: 3;
    overflow: hidden;
}
.other-adoption-list .item img{
    width: 250px;
    height: 250px;
}
.other-adoption hgroup{
    position: relative;
    z-index: 3;
    left: 50px;
    margin-bottom: 60px;
}
.other-adoption h2{
    position: relative;
    z-index: 4;
}
.circle{
    width: 200px;
    height: 100px;
    rotate: -35deg;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    top: -40px;
    left: -110px;
    z-index: 0;
}
.other-adoption .item:hover{
    cursor: pointer;
}
.back{
    width: fit-content;
    margin: auto;
    padding: 30px 0;

}
.back a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.back a:hover{
    color: #DDBC8B;
}
@media screen and (min-width:1024px){
    .back-story{
        max-width: 50%;
        margin:100px 80px 0 auto;
    }
}




/* -----footer----- */
footer{
    width: 100%;
    box-sizing: border-box;
    background-color: #DDBC8B;
    border-radius: 20px 20px 0 0;
    position: relative;
    z-index: 3;
    margin-top:-18px ;
    padding: 12px;
}
footer .logo img{
    width: 180px;
}
.footer-top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.footer-top .icon{
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 15px;
}
.footer-top .icon i{
    font-size: 20px;
}
.footer-top .icon i:hover{
    cursor: pointer;
}
.footer-top ul{
    color: #fff;
    font-size: 10px;
    font-family: sans-serif;
}
.footer-top li{
    margin-bottom: 7px;
    width: fit-content;
}
.footer-top li:hover{
    cursor: pointer;
    color: #6d6767;
}
footer p{
    text-align: center;
    color: #fff;
    padding: 8px;
    font-size: 10px;
}
/* -----footer----- */
.top-button{
    width: 50px;
    height: 50px;
    position: fixed;
    background-color: #ffc28d6d;
    border-radius: 50%;
    bottom: 10px;
    right: 20px;
    z-index: 2;
    transition: .5s;
}
.top-button a{
    text-decoration: none;
    color: #ffffff9a;
}
.top-button i{
    font-weight: bold;
    position: absolute;
    font-size: 24px;
    top: 14px;
    left: 16px;
}
.top-button:hover{
    background-color: #FFC38D;
    cursor: pointer;
}
.top-button:hover a{
    color: #fff;
}