/* ------normal-header----- */
body{
    background-color: #f5f5f5;
    overflow-x: hidden;
}
.banner{
    margin: 80px 0 50px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.banner .recommend-area img{
    max-width: 100%;
    vertical-align: top;
    border-radius: 20px;
    transform: scale(1);
    transition: .5s;
    object-fit: cover;
    object-position: center center;
    position: relative;
    z-index: 1;
}
.banner .recommend-area img:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.banner .pic{
    max-width: 90%;
    overflow: hidden;
    border-radius: 20px;
    margin: auto;
}
.banner .introduce{
    width: 205px;
    font-family: sans-serif;
    font-weight: bold;
    position: relative;
}
.banner h1{
    font-size: 36px;
    margin-bottom: 30px;
    position: relative;
    z-index: 2;
}
.banner p{
    letter-spacing: 1px;
    line-height: 20px;
    position: relative;
    z-index: 2;
}
.circle{
    width: 190px;
    height: 95px;
    rotate: -35deg;
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    top: -30px;
    left: -90px;
    z-index: 1;
}
.banner .introduce img{
    position: absolute;
    width: 80px;
    z-index: 3;
    top: -30px;
    left: -90px;
    rotate: -30deg;
}
/* -----category-menu----- */
.category-menu{
    width: 100%;
    font-family: sans-serif;
    box-sizing: border-box;
    border-top: 1px dashed #000;
    border-bottom:1px dashed #000;
    display: flex;
}
.category-menu ul{
    display: flex;
    width: 100%;
    gap: 30px;
    justify-content: center;
    padding: 20px;
}
.category-menu ul li{
    display:inline-block;
    transition: .5s;
}
.category-menu a{
    text-decoration: none;
    font-size: 14px;
    color: #000;
}
.category-menu li:hover a,
.category-menu li:hover i{
    color: #6d6767;
}
/* -----category-menu----- */
/* -----article-list------ */
main{
    position: relative;
}
.article-list{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    width: fit-content;
    margin: -400px auto 20px;
}
.article-list a{
    text-decoration: none;
    color: #000;
}
.article-list .item{
    width: 280px;
    padding: 20px 0;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-radius: 10px;
    transition: .3s;
}
.article-list .item:nth-last-child(1),
.article-list .item:nth-last-child(2),
.article-list .item:nth-last-child(3),
.article-list .item:nth-last-child(4){
    display: none;
}
.article-list .item .pic{
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    border-radius: 10px;
}
.article-list .item img{
    width: 165px;
    height: 160px;
    object-fit: cover;
    object-position: center center;
    border-radius: 10px;
    transition: .3s;
}
.article-list .item:hover  img{
    transform: scale(1.1);
}
.article-list .item:hover{
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 0 8px 1px #c7c7c7;
}
.article-list .item .heart{
    position: absolute;
    padding: 8px 10px;
    border-radius: 50%;
    background-color: #FFC38D;
    top: 10px;
    right: 10px;
    z-index: 2;
    font-size: 14px;
    transform: translateY(-150%);
    transition: .5s;
}
.article-list .item:hover .heart{
    transform: translateY(0);
    cursor: pointer;
}
.article-list .item .heart:hover::after{
    content: "點擊收藏";
    font-family: sans-serif;
    font-weight: bold;
    font-size: 10px;
    position: absolute;
    top: 35px;
    right: 0;
    padding: 4px;
    border-radius: 10px;
    text-align: center;
    background-color: #FFC38D;
    z-index: 1;

}
.article-list .item h2{
    font-family: sans-serif;
    font-weight: bold;
    margin: 15px 0 0  15px;
    font-size: 14px;
    width: 240px;
    text-align: center;
    line-height: 20px;
}
.article-list .item .tag{
    font-family: sans-serif;
    font-size: 12px;
    font-weight: bold;
    display: inline-block;
    padding: 6px 8px;
    background-color: #DDBC8B;
    border-radius: 5px;
    color:#000;
    align-self: start;
    position: relative;
}
.article-list.item.tag::after{
    content: "";
    width: 50px;
    height: 50px;
    background-color: #E3D982;
    position: absolute;
    z-index: 3;
    
}
.article-list .item img:hover{
    cursor: pointer;
}
.article-list .item .tag:hover{
    cursor: pointer;
}
.article-list .item .date{
    margin-left: 10px;
    color: #6d6767;
    font-family: arial;
    font-size: 12px;
    display: inline;
}
/* -----article-list------ */
/* -----side-bar----- */
.side-bar{
    width: 216px;
    height: 450px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: #fff;
    border-radius: 0px 10px 10px 0;
    box-shadow: -1px 1px 4px 1px #00000044;
    transform: translateX(-216px);
    padding-top: 36px;
    position: sticky;
    left: 0;
    top: 100px;
    box-sizing: border-box;
    transition: .5s;
    white-space: nowrap;
    transition: .5s;
    z-index: 3;
}
#side-bar-switch{
    display: none;
}
#side-bar-switch:checked + .side-bar{
    transform: translateX(0);
}
#side-bar-switch:checked + .side-bar label i{
    transform: scale(-1);
}
.side-bar label{
    width: 30px;
    height: 60px;
    color: #fff;
    text-align: center;
    line-height: 60px;
    margin: auto;
    position: absolute;
    top:0;
    bottom: 0;
    right: -30px;
    margin: auto;
    border-radius: 0 10px 10px 0;
    background-color: #DDBC8B;
}
.side-bar label:hover{
    cursor: pointer;
}
.pet-sort,
.artitle-sort{
    margin-left:43px;
    line-height: 26px;
}
.pet-sort a,
.artitle-sort a{
    text-decoration: none;
    color: #000;
}
.pet-sort a:hover,
.artitle-sort a:hover{
    color: #6d6767;
}
.artitle-sort{
    margin-top: 25px;
}
.artitle-sort a{
    display: block;
    width: fit-content;
}
.search-bar{
    width: 140px;
    border: 2px solid #DDBC8B;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 20px 0 0 43px;
}
.search-bar:hover{
    cursor: text;
}
.search-bar i{
    padding: 5px 0 5px 110px;
    width: fit-content;
    color: #DDBC8B;
}
.paging ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: arial;
    margin-bottom: 20px;
}
.paging li:hover{
    cursor: pointer;
}
.paging li:nth-child(1),
.paging li:nth-child(2),
.paging li:nth-child(8),
.paging li:nth-child(9){
    background-color: #DDBC8B;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 24px;
}
.paging li:nth-child(3),
.paging li:nth-child(4),
.paging li:nth-child(5),
.paging li:nth-child(6),
.paging li:nth-child(7){
    color: #847d7d;
}
.paging li:nth-child(4):hover,
.paging li:nth-child(5):hover,
.paging li:nth-child(6):hover,
.paging li:nth-child(7):hover{
    color: #383737;
    scale: 1.05;
}

@media screen and (min-width:1024px){
    .banner{
        margin: 80px 0 50px 0;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 0px;
    }
    .banner .recommend-area{
        width: 60%;
    }
    .banner .introduce{
        padding-left:120px ;
    }
    .circle{
        left: -0px;
    }
    .banner .introduce img{
        top: -25px;
        left: 30px;
        rotate: -30deg;
    }
    .category-menu{
        width: 80%;
        margin: auto;
    }
    .category-menu ul{
        gap: 70px;
    }
    .article-list .item:nth-last-child(1),
    .article-list .item:nth-last-child(2),
    .article-list .item:nth-last-child(3),
    .article-list .item:nth-last-child(4){
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    }
/* -----side-bar----- */
/* -----footer----- */
footer{
    width: 100%;
    box-sizing: border-box;
    background-color: #DDBC8B;
    border-radius: 20px 20px 0 0;
    position: relative;
    z-index: 4;
    padding: 12px;
    margin-top: 30px;
}
footer .logo img{
    width: 180px;
}
.footer-top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.footer-top .icon{
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 15px;
}
.footer-top .icon i{
    font-size: 20px;
}
.footer-top .icon i:hover{
    cursor: pointer;
}
.footer-top ul{
    color: #fff;
    font-size: 10px;
    font-family: sans-serif;
    padding-top: 5px;
}
.footer-top li{
    margin-bottom: 7px;
    width: fit-content;
}
.footer-top li:hover{
    cursor: pointer;
    color: #6d6767;
}
footer p{
    text-align: center;
    color: #fff;
    padding: 8px;
    font-size: 10px;
}
/* -----footer----- */
.yellow-deco,
.green-deco,
.pink-deco{
    position: absolute;
    width: 500px;
    height: 600px;
    border-radius: 50%;
    opacity: .3;
    transform: rotate(-72deg);
    background: fixed;
 }
 .green-deco{
    background-color: #9BD2BE;
    top: -80px;
    left: -210px;
 }
 .yellow-deco{
    background-color: #E3D982;
    bottom: -100px;
    right: -380px;
 }
 .pink-deco{
    background-color: #FFC7C2;
    top: 500px;
    left: -250px;
 }
 .top-button{
    width: 50px;
    height: 50px;
    position: fixed;
    background-color: #ffc28d6d;
    border-radius: 50%;
    bottom: 10px;
    right: 20px;
    z-index: 2;
    transition: .5s;
}
.top-button a{
    text-decoration: none;
    color: #ffffff9a;
}
.top-button i{
    font-weight: bold;
    position: absolute;
    font-size: 24px;
    top: 14px;
    left: 16px;
}
.top-button:hover{
    background-color: #FFC38D;
    cursor: pointer;
}
.top-button:hover a{
    color: #fff;
}