.btn-login{
    border: none;
    padding: 8px;
    border-radius: 10px;
    font-weight: bold;
    position: relative;
    top: 30px;
    left: 50px;
}
.modal-body img{
    width: 120px;
    display: block;
    margin: auto;
}
.modal-body .logo{
    position: absolute;
    top: -100px;
    left: 38%;
}
.modal-header button{
    position: absolute;
    top: 12px;
    right: 12px;
}
.modal-header{
    border: none;
    padding: 50px 0;
    position: relative;
    background-color: #DDBC8B;
}
.modal-content{
    background-color: #fff;
    width: 400px;
}

.form-group{
    margin-top:15px ;
    width: 90%;
    position: relative;
    left: 23px;
    font-weight: bold;
}
.remember{
    margin-bottom: 20px;
}
.modal-body button{
    background-color: #FFC38D;
    border: none;
    color: #fff;
    position: relative;
    left: 290px;
    font-weight: bold;
}
.modal-body button:hover{
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 4px 1px #a4a4a4;
}
.modal-footer{
    border: none;
}