header{
    width: 100%;
    background-color: #DDBC8B;
    z-index: 10;
    position: sticky;
    top: -100px;
}
.logo-area{
    background-color: #DDBC8B;
    padding: 10px 0;
}
.logo-area .logo{
    width:120px;
    height: 75px;
    overflow: hidden;
    display: block;
    margin: auto;
}
.logo-area .logo img{
    width: 100px;
    object-fit: cover;
    object-position: center -10px;
}
#menu-switch{
    display: none;
}
.main-nav{
    transform:translateX(-100%);
    transition: 1s;
}
.header-navlist{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 15px 30px 0 ;
    gap: 40px;
    width: 100%;
    background-color: #fffdec;
    position: absolute;
    top:100%;
    right: 0;
    z-index: 10;
}
.header-navlist i{
    color: #424255;
    font-size: 20px;
    transition: 0.3s;
}
.header-navlist a{
    color: #1d1d54;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
    font-family: sans-serif;
    display: inline-block;
}
.nav-item{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    padding: 15px 0;
    gap: 10px;
}
.nav-item .deco-line{
    width: 0%;
    height: 2px;
    background-color: #383866c7;
    position: absolute;
    bottom: -7px;
    left: 10px;
    transition: all .4s linear;
}
.nav-item:hover .deco-line{
    width: 85%;
}
.hb{
    position: absolute;
    top: 30px;
    right: 10px;
    width: 40px;
    height: 40px;
}
#menu-switch:checked + .main-header .main-nav{
    transform:translateX(0);
}
.hb span{
    background-color: aliceblue;
    display: block;
    width: 30px;
    height: 3px;
    position: absolute;
    margin-left: 5px;
    rotate: 0deg;
}
.hb span:nth-child(1){
    top: 8px;
    transition: top .5s, rotate .5s;
}
.hb span:nth-child(2){
    top: 18px;
}
.hb span:nth-child(3){
    top: 28px;
    transition: top .5s, rotate .5s;
}
#menu-switch:checked +.main-header .hb span:nth-child(1){
    top: 18px;
    rotate: 45deg;
    transition: top .5s, rotate .5s;
}
#menu-switch:checked +.main-header .hb span:nth-child(2){
    display: none;
}
#menu-switch:checked +.main-header .hb span:nth-child(3){
    top: 18px;
    rotate: -45deg;
    transition: top .5s, rotate .5s;
}
/* ============login選單============== */
#login{
    display: none;
}
#login:checked + .main-nav .nav-item ul{
    display: block;
}
#login:checked + .main-nav .nav-item:nth-child(1) .deco-line{
    display: none;
} 
.nav-item label{
    color: #0e0e3b;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
    font-family: sans-serif;
    display: inline-block;
}
.nav-item label:hover{
    cursor: pointer;
}
.nav-item:hover .deco-line{
    width: 100%;
}
.nav-item label i{
    position: absolute;
    top: 15px;
}
.nav-item ul{
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    text-align: center;
    background-color:#f7f3dd;
    z-index: 10;
    box-shadow: 0 5px 5px 1px #3e3c3c63;
    display: none;
    transition: .5s;
}
.nav-item ul li{
    padding: 20px 0;
}
.nav-item ul li:hover{
    background-color:#f6f4eb;
}
/* ============login選單============== */
/* 桌機 */
 @media screen and (min-width:1024px){ 
    /* =====login選單===== */
    .nav-item label{
        color: #fff;
        font-size: 15px;
        font-weight: bold;
        transition: 0.3s;
        font-family: sans-serif;
        display: inline-block;
    }
    .nav-item label i{
        position: absolute;
        top: 3px;
        font-size: 14px;
    }
    .nav-item ul{
        position: absolute;
        top: 40px;
        left: 40px;
        width: 80%;
        text-align: center;
        background-color:#DDBC8B;
        z-index: 10;
        box-shadow: 0 5px 5px 1px #3e3c3c63;
        display: none;
    }
    .nav-item ul li{
        padding: 20px 0;
    }
    .nav-item:not(:first-child):hover i{
        color: #ffffffa0;
    }
    .nav-item:not(:first-child):hover a{
        color: #ffffffa0;
    } 
    .nav-item:nth-child(1):hover i:not([ul]){
        color: #ffffffa0;
    }
    .nav-item span:hover{
        color: #ffffffa0;
    }
    .nav-item ul a:hover{
        color: #ffffffa0;
    }
    /* =====login選單===== */
    .hb{
        display: none;
    }
    header .main-nav{
        display: flex;
        justify-content: center;
        align-items: center;
        transform:translateX(0);
        transition: none;
    }
    .logo-area{
        background-color: #DDBC8B;
        padding: 15px 0;
    }
    .logo-area .logo{
        width:120px;
        height: 75px;
        overflow: hidden;
        display: block;
        margin: auto;
    }
    .logo-area .logo img{
        width: 120px;
        object-fit: cover;
        object-position: center -8px;
    }
    .header-navlist{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 0;
        background-color: #DDBC8B;
    }
    .header-navlist .nav-item{
       display: flex;
       align-items: center;
       justify-content: center;
       padding: 0 40px;
    }
    .nav-item + .nav-item{
        border-left: 1px solid #fff ;
    }
    .header-navlist a{
        color: #fff;
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
        transition: 0.3s;
        font-family: sans-serif;
    }
    
    .header-navlist i{
        color: #fff;
        font-size: 22px;
        transition: 0.3s;
        margin-right: 8px;
    }
    .nav-item .deco-line{
        width: 0%;
        height: 2px;
        background-color: #ffffffa0;
        position: absolute;
        bottom: -8px;
        left: 25%;
        transition: all .4s linear;
    }
    .nav-item:hover .deco-line{
        width: 50%;
    }
    header .header-navlist{
        padding: 20px 0;
        font-size: 0;
        display: flex;
        justify-content: center;
    }
} 
/* --------wrap----------- */    

.wrap{
    width: 100%; 
    padding:20px 0;
    position: relative;
    z-index: 1;
    background-color: #fff;
}
.content{
    font-family: sans-serif;
    font-weight: bold;
    width: 75%;
    background-color: #f5f5f5;
    margin:35px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    border-radius: 20px;
    font-size: 14px;
    padding: 20px;
    box-shadow: 0 0 5px 1px #6d67677e;
}
.content h1{
    font-size: 24px;
    margin-top: 40px;
}
.content ul input{
    display: inline-block;
    padding: 8px;
    width: 200px;
    border: 1px solid #c2c2c2;
    border-radius: 5px;
}
.content ul label{
    display: inline-block;
    margin-right: 8px;
}

.content ul li{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
    position: relative;
}
.content ul li i{
    position: relative;
    right: 20px;
    font-size: 12px;
}
#login{
    background-color: #DDBC8B;
    width: 150px;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    border: none;
    padding: 5px 0;
    border-radius: 5px;
}
#login:hover{
    cursor: pointer;
}
.function{
    display: flex;
    gap:40px;
}
.function button{
    border: none;
    background-color:#DDBC8B;
    font-size: 12px;
    padding: 6px 12px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    
}
.function button a{
    text-decoration: none;
    color: #fff;
}
.function button:hover{
    cursor: pointer;
}
.function button i{
    margin-right: 5px;
    color: #fff;
}
.other{
    margin: 50px 0;
    display: flex;
    gap: 10px;
    position: relative;
}
.other::before{
    content: "--------------------------------------------------------";
    position: absolute;
    color: #d2d2d2;
    top: -22px;
}
.other button{
    border: none;
    background-color:#DDBC8B;
    font-size: 12px;
    padding: 5px 8px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    transition: .5s;
}
.other button:hover{
    cursor: pointer;
    scale: 1.05;
}
.other button:nth-child(1){
    background-color: #3F62A9;
}
.other button:nth-child(2){
    background-color: #d2453b;
}
.other button i{
    margin-right:5px ;
}
/* -----footer----- */
footer{
    width: 100%;
    box-sizing: border-box;
    background-color: #DDBC8B;
    border-radius: 20px 20px 0 0;
    position: relative;
    z-index: 3;
    margin-top:-18px ;
    padding: 12px;
}
footer .logo img{
    width: 180px;
}
.footer-top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.footer-top .icon{
    display: flex;
    flex-direction: column;
    color: #fff;
    gap: 15px;
}
.footer-top .icon i{
    font-size: 20px;
}
.footer-top .icon i:hover{
    cursor: pointer;
}
.footer-top ul{
    color: #fff;
    font-size: 10px;
    font-family: sans-serif;
}
.footer-top li{
    margin-bottom: 7px;
    width: fit-content;
}
.footer-top li:hover{
    cursor: pointer;
    color: #6d6767;
}
footer p{
    text-align: center;
    color: #fff;
    padding: 8px;
    font-size: 10px;
}
/* -----footer----- */
@media screen and (min-width:414px){
    .content{
        width: 365px;
        margin:35px auto;
        gap: 30px;
        border-radius: 20px;
        font-size: 14px;
        padding: 20px;
        box-shadow: 0 0 5px 1px #6d67677e;
    }
}
@media screen and (min-width:1024px){
    .wrap{
        background-image: url(/pic/login/bg.png);
        background-position: center;
    }
    .content{
        width: 630px;
        box-sizing: border-box;
        padding: 80px 80px 10px 80px;
        margin:100px auto;
        font-size: 16px;
    }
    .content h1{
        font-size: 30px;
        margin-top: 0px;
    }
    .content ul input{
        padding: 12px;
        width: 300px;
    }
    #login{
        width: 200px;
    }
    .other::before{
        content: "--------------------------------------------------------";
    }
    .function button{
        font-size: 14px;
    }
    .other button{
        font-size: 14px;
    }
    .footer-top{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-top ul{
        margin-left: 50px;
    }
    footer{
        margin-top: -50px;
    }
}